# Variáveis de ambiente
.env
.env.*

# Ambiente virtual Python
.venv/
venv/
env/

*__init__.py
*app_config.py

# Bytecode Python
__pycache__/
*.py[cod]
*.pyo



# Logs
*.log


# IDEs
.vscode/
.idea/

# Distribuição / build
build/
*.egg-info/
flask_session/